{% extends "base.html"  %}
{% block content %}

    <section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto cta-inner">
                <div class="text-center rounded">
                    <h2 class="section-heading mb-5 section-heading-lower"> Book Classes </h2>
                </div>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Book Classes
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                        <form method="POST" action="{{ url_for('book_class') }}">
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleFormControlInput1" name= "booking_name" placeholder="Full Name">
                    </div>
                    <div class="form-group">    
                        <select class="form-control" id="category_name" name="category_name" required>
                            <option disabled selected>Select a Class</option>
                            {% for category in categories %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" >
                        <input type="date" id="date" name="booking_date" required>
                        <input type="time" id="time" name="booking_time" required>  
                  </div>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Further Information" name="booking_notes"></textarea>
                        </div>
                        <button type="submit" class="btn btn-secondary">Book</button>
                    </form>                                
                </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Booked Classes
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                {% for task in tasks %}
                                    {% if session.user|lower == task.created_by|lower %}
                                        <div class="card bg-light mb-3">
                                            <div class="text-center rounded"> 
                                                
                                                <p>{{ task.category_name }} <br>
                                                    {{ task.booking_name }}<br>
                                                    {{ task.booking_date }} : {{ task.booking_time }}<br>
                                                    {{ task.booking_notes }}</p>    
                                                <a href="{{ url_for('edit_class', task_id=task._id) }}" class="btn btn-warning">Edit Details</a>
                                                <a href="{{ url_for('delete_class', task_id=task._id) }}" class="btn btn-warning">Delete Class</a>
                                                
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</section>

{% endblock %}