{% extends "base.html" %}
{% block content %}
      <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ url_for('static', filename='img/intro.webp') }}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Lets get Healthy</span>
            <span class="section-heading-lower">Worth Joining</span>
          </h2>
          <p class="mb-3">Within our clubs we've developed a brand new type of gym that integrates numerous types of training in a really social, open-plan layout. It’s divided into specialised zones – we have areas for cardio, free weights, weights machines, functional training and more. 
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Memberships</span>
              <span class="section-heading-lower">For You</span>
            </h2>
                                    <!--Subscriptions-->
                        <div class="container">
                            <div class="row">
                                <div class="col-md">
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-header">
                                            SUBSCRIPTION
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">£15.99</li>
                                            <li class="list-group-item">No Joining Fees</li>
                                            <li class="list-group-item">24 Hour Access to Gym</li>
                                        </ul>
                                        </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-header">
                                            SUBSCRIPTION
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">£19.99</li>
                                            <li class="list-group-item">No Joining Fees</li>
                                            <li class="list-group-item">Includes Weekly Diet Plans</li>
                                        </ul>
                                        </div>
                                
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    </div>
                                </div>   
                            </div>
                        </div>
            </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}