{% extends "base.html" %}
{% block content %}

<!--section to log in if user already registered-->
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5 section-heading-lower"> LOG IN </h2>
                    <!--Form to register-->
                    <form method="POST" action="{{ url_for('login') }}">
                        <!--Username-->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input id="username" name="username" type="text" minlength="5"
                                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" placeholder="Username" required>
                            </div>
                        </div>
                        <!--Password-->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input id="password" name="password" type="password" minlength="5"
                                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" placeholder="Password" required>
                            </div>
                        </div>
                        <!--Log In Button-->
                        <button type="submit" class="btn btn-warning">Log In</button>
                    </form>
                    <!--content to guide user to registeration page if not already registered-->
                    <div class="row">
                        <div class="col s12">
                            <p class="center-align">
                                New Here?
                                <a href="{{ url_for('register') }}" class="text-primary"> Register Account</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}