{% extends "base.html" %}
{% block content %}


<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5 section-heading-lower"> REGISTER </h2>
                    <!--Form to register-->
                    <form method="POST" action="{{ url_for('register') }}">
                        <!--Subscription-->
                        <div class="container">
                            <div class="row">
                                <!-- Bronze Tier -->
                                <div class="col-lg-4">
                                    <div class="card mb-5 mb-lg-0">
                                        <div class="card-body">
                                            <h5 class="card-title text-muted text-uppercase text-center">Bronze</h5>
                                            <h6 class="card-price text-center">£14.99/month</h6>
                                            <hr>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>24 Hours gym access</li><br>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Changing rooms access</li><br>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Classes </li><br>
                                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Swimming Pool access</li><br>
                                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Sauna and Spa access</li><br>
                                            </ul>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="subscription" id="inlineRadio1" value="Bronze" required>
                                                <label class="form-check-label" for="inlineRadio1">Bronze</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Silver Tier -->
                                <div class="col-lg-4">
                                    <div class="card mb-5 mb-lg-0">
                                        <div class="card-body">
                                            <h5 class="card-title text-muted text-uppercase text-center">Silver</h5>
                                            <h6 class="card-price text-center">£20.99/month</h6>
                                            <hr>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>24 Hours gym access</li><br>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Changing rooms access</li><br>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Classes </li><br>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Swimming Pool access</li><br>
                                                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Sauna and Spa access</li><br>
                                            </ul>
                                            <div class="form-check form-check-inline" >
                                                <input class="form-check-input" type="radio" name="subscription" id="inlineRadio2" value="Silver" required>
                                                <label class="form-check-label" for="inlineRadio2">Silver</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Gold Tier -->
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title text-muted text-uppercase text-center">Gold</h5>
                                            <h6 class="card-price text-center">£24.99/month</h6>
                                            <hr>
                                            <ul class="fa-ul">
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>24 Hours gym access</li><br>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Changing rooms access</li><br>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Classes</li><br>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Swimming Pool access</li><br>
                                                <li><span class="fa-li"><i class="fas fa-check"></i></span>Sauna and Spa access</li><br>
                                            </ul>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="subscription" id="inlineRadio3" value="Gold" required>
                                                <label class="form-check-label" for="inlineRadio3">Gold </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!--First Name and Last Name-->
                        <div class="form-group row">
                            <div class="col">
                                <input type="text" id="FirstName" name="FirstName" class="form-control" placeholder="First name" required>
                            </div>
                            <div class="col">
                                <input type="text" id="LastName" name="LastName" class="form-control" placeholder="Last name" required>
                            </div>
                        </div>
                        <!--Home Address-->
                        <div class="form-group row">
                            <div class="col">
                                <input type="text" id="address" name="address" class="form-control" placeholder="Home Address" data-toggle="tooltip" data-placement="bottom" title="First Line and Postcode" required>
                            </div>
                        </div>
                        <!--Email Adress -->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input id="email" name="email" type="email" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <!--Username-->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input id="username" name="username" type="text" minlength="5"
                                    maxlength="15" class="form-control" placeholder="Username" data-toggle="tooltip" data-placement="bottom" title="Allowed letters, numbers and ._-" required>
                            </div>
                        </div>
                        <!--Password-->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input id="password" name="password" type="password" minlength="5"
                                    maxlength="15" class="form-control" placeholder="Password" data-toggle="tooltip" data-placement="bottom" title="Allowed letters and numbers only" required>
                            </div>
                        </div>
                        <!--Register Button-->
                        <button type="submit" class="btn btn-warning">Register  <i class="fas fa-file-signature"></i></button>
                    </form>
                    <!--content to guide user to login page if already registered-->
                    <div class="row">
                        <div class="col s12">
                            <p class="center-align">
                                Already Registered? 
                                <a href="{{ url_for('login') }}" class="text-primary"> Log In </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}