{% extends "base.html" %}
{% block content %}


<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5 section-heading-lower"> REGISTER </h2>
        
                    <form method="POST" action="{{ url_for('register') }}">
                        <div class="form-group row">
                            <label for="username" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-10">
                                <input id="username" name="username" type="text" minlength="5"
                                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input id="password" name="password" type="password" minlength="5"
                                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}